<div ngClass="contact-component">
    <div ngClass="form-box">
        <form action="https://formsubmit.co/77033df91415c4dd3b9cc6694ae94dfc" method="POST">
            <div ngClass="user-box">
                <input type="text" name="name" required>
                <label>Your name*</label>
            </div>
            <div ngClass="user-box">
                <input type="email" name="email" required>
                <label>Your email address*</label>
            </div>
            <div ngClass="user-box">
                <textarea name="message" required></textarea>
                <label>Your message*</label>
            </div>
            <button type="submit"> Send</button>
        </form>
    </div>
</div>